<div class="app-landing">
    <div class="app-landing__content">
        <div class="app-landing__content__details">
            <h2>OnePlatform</h2>
            <h6 class="app-landing__content__details__sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non dui maximus, pellentesque sem
                iaculis, tempus felis. Pellentesque ac felis dui. Nullam scelerisque vulputate nulla a pulvinar. Nunc
                egestas nulla tortor, non rhoncus felis scelerisque eu. Phasellus sed sapien molestie, egestas turpis
                eget, bibendum diam. Aenean consequat efficitur interdum. Nullam aliquam orci et arcu tincidunt, ac
                pharetra sapien aliquet. Sed vitae ultrices orci.
            </h6>
        </div>
        <div class="mt-5">
            <button class="btn btn-primary app-landing__content__login-button"
                (click)='navigateToLogin()'>Login</button>
        </div>
    </div>
</div>